/*
This is CORE SCSS for common little style, not moudule.
Moudule concept need in APP SCSS.
USED with bootstrap's variables and mixins
AND slogup's core-mixins in ./mixins
*/
/** layout **/
/** label,title **/
button, textarea {
  background: none;
  outline: none;
  border: none;
  resize: none;
  padding: 0;
  margin: 0; }

/** component **/
/*
Generic --> Specific
$font-*
$border-*
*/
ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

p {
  margin: 0; }

a {
  cursor: pointer;
  color: inherit; }
  a:active, a:hover, a:focus {
    outline: 0;
    text-decoration: none; }

.tsg .wrapper {
  width: 1024px;
  margin: 0 auto;
  position: relative; }
.tsg .tsg-main:focus {
  outline: 0; }
.tsg .tsg-main__intro-container {
  width: 100%;
  height: 490px;
  background: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQzmKcWTO_CnLp7H2auTmpSb1UpwToK28mReuF18i2fme96oiBO") no-repeat center;
  background-size: cover; }
  .tsg .tsg-main__intro-container .wrapper {
    height: 100%; }
.tsg .tsg-main__why-container {
  background: #383E4C;
  color: #fff;
  font-weight: normal; }
.tsg .tsg-main__section-container {
  background: #fff; }
.tsg .bg-F3F1F7 {
  background: #f3f1f7; }

.tsg-intro {
  display: table;
  width: 100%;
  height: 100%; }
  .tsg-intro .intro__box {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    text-align: center; }
  .tsg-intro .intro__box--left img {
    width: 250px;
    height: 120px; }
  .tsg-intro .intro__box--right {
    color: #fff; }
    .tsg-intro .intro__box--right p {
      margin-top: 20px; }

.tsg-why {
  padding: 60px 0; }
  .tsg-why .why__header {
    text-align: center; }
    .tsg-why .why__header h3 {
      margin-top: 10px; }
      .tsg-why .why__header h3:before {
        content: '"'; }
      .tsg-why .why__header h3:after {
        content: '"'; }
  .tsg-why .why__contents {
    margin-top: 80px; }
    .tsg-why .why__contents:before, .tsg-why .why__contents:after {
      content: " ";
      display: table; }
    .tsg-why .why__contents:after {
      clear: both; }
    .tsg-why .why__contents .why__cts {
      display: inline-block;
      float: left;
      width: 33.33333333%;
      padding: 10px 60px;
      border-left: 1px solid #fff;
      text-align: center; }
      .tsg-why .why__contents .why__cts:first-child {
        border: 0; }
      .tsg-why .why__contents .why__cts div {
        font-size: 4rem;
        line-height: 1;
        margin-bottom: 20px; }

.tsg-section {
  text-align: center;
  padding: 100px 0; }
  .tsg-section .section__header {
    margin-bottom: 70px; }
    .tsg-section .section__header h2 {
      display: inline-block;
      width: 400px;
      padding: 0 40px;
      font-size: 5rem;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      margin-bottom: 40px; }
    .tsg-section .section__header p {
      width: 420px;
      margin: 0 auto; }
  .tsg-section .section__content {
    padding-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px; }
    .tsg-section .section__content ul.section__blog-list {
      margin-left: -5px;
      margin-right: -5px; }
      .tsg-section .section__content ul.section__blog-list li {
        padding-left: 5px;
        padding-right: 5px; }
    .tsg-section .section__content ul.ptfolios-container {
      margin-left: -5px;
      margin-right: -5px; }
      .tsg-section .section__content ul.ptfolios-container li {
        padding-left: 5px;
        padding-right: 5px; }
    .tsg-section .section__content ul.section__blog-list {
      margin-top: -5px;
      margin-bottom: -5px; }
      .tsg-section .section__content ul.section__blog-list li {
        padding-top: 5px;
        padding-bottom: 5px; }
    .tsg-section .section__content ul.ptfolios-container:before, .tsg-section .section__content ul.ptfolios-container:after {
      content: " ";
      display: table; }
    .tsg-section .section__content ul.ptfolios-container:after {
      clear: both; }
    .tsg-section .section__content ul.ptfolios-container li {
      display: inline-block;
      width: 33.33333333%;
      float: left; }
    .tsg-section .section__content ul.section__blog-list li {
      display: inline-block;
      width: 50%;
      float: left; }
    .tsg-section .section__content ul.section_dev-stack {
      width: 650px;
      margin: 30px auto 20px auto; }
      .tsg-section .section__content ul.section_dev-stack li {
        display: inline-block;
        padding: 10px;
        margin: 5px;
        border: 1px solid #ddd; }
    .tsg-section .section__content .ptfolio .ptfolio__img {
      width: 100%;
      height: 230px; }
    .tsg-section .section__content .ptfolio .ptfolio__body {
      padding: 20px 0; }
      .tsg-section .section__content .ptfolio .ptfolio__body h3 {
        display: inline-block;
        border-bottom: 2px solid;
        padding: 0 5px 10px 5px;
        margin-bottom: 10px; }
    .tsg-section .section__content .section__blog-item {
      padding: 10px;
      border: 1px solid #ddd;
      background: #fff; }
      .tsg-section .section__content .section__blog-item .pf-img {
        float: left;
        width: 50px;
        height: 50px; }
      .tsg-section .section__content .section__blog-item div {
        text-align: left;
        margin-left: 60px; }
  .tsg-section .section__footer {
    margin-top: 30px; }

@media all and (max-width: 490px) {
  .tsg .wrapper {
    width: 490px; } }
.tsg-header h1 {
  display: inline-block;
  float: left;
  margin: 0; }
  .tsg-header h1 img {
    width: 90px;
    height: 90px; }
.tsg-header .header__nav {
  float: right;
  padding: 30px 10px 10px 10px; }
  .tsg-header .header__nav li {
    display: inline-block;
    padding: 0 15px;
    border-left: 1px solid #ddd;
    font-size: 1.25rem;
    line-height: 1;
    color: #030303; }
    .tsg-header .header__nav li:first-child {
      border: 0; }
    .tsg-header .header__nav li a {
      padding: 0 3px 10px 3px; }
      .tsg-header .header__nav li a:hover {
        border-bottom: 3px solid #348ec8; }
    .tsg-header .header__nav li.active a {
      border-bottom: 3px solid #348ec8; }

/**
 * Usage examples
 */
.section {
  border: 2px solid #777;
  padding: 40px;
  background: silver; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi) {
    .section {
      border: 2px dotted #000; } }
  @media only screen and (min-width: 961px) and (max-width: 1260px) {
    .section {
      background: red;
      color: white; } }
  @media only screen and (min-width: 481px) and (max-width: 960px) {
    .section {
      background: green;
      color: white; } }
  @media only screen and (max-width: 480px) {
    .section {
      background: blue;
      color: white; } }

/*# sourceMappingURL=tsgup.css.map */
