<!doctype html>
<html class="no-js" lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Team slogup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="identifier-url" content="http://www.webestools.com/" />
    <meta name="title" content="Webestools" />
    <meta name="description" content="Tools for webmasters" />
    <meta name="abstract" content="Tools for webmasters" />
    <meta name="keywords" content="tools, webmasters, meta, generator" />
    <meta name="author" content="My Name" />
    <meta name="revisit-after" content="15" />
    <meta name="language" content="EN" />
    <meta name="copyright" content="© 2015 Webestools" />
    <meta name="robots" content="All" />

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../assets/stylesheets/core/bootstrap.css">
    <link rel="stylesheet" href="../assets/stylesheets/app/tsgup.css">
    <script src="../assets/javascripts/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<a href="#main-container" class="sr-only sr-inly-focusable">Skip to content</a>

<div class="tsg">
    <header class="tsg-header wrapper clearfix">
        <h1>
            <a href="/" class="site-logo">
                <img src="../assets/images/apple-touch-icon.png" alt="team slogup" />
            </a>
        </h1>
        <nav class="header__nav">
            <h2 class="sr-only">Main Navigation</h2>
            <ul>
                <li class="active">
                    <a>AboutUs</a>
                </li>
                <li>
                    <a>포트폴리오</a>
                </li>
                <li>
                    <a>홈페이지개발</a>
                </li>
                <li>
                    <a>어플리케이션개발</a>
                </li>
                <li>
                    <a>제작의뢰</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="main-container" class="tsg-main" role="main" tabindex="-1">
        <div id="tsg-introduce" class="tsg-main__intro-container">
            <div class="wrapper">
                <section class="tsg-intro">
                    <div class="intro__box intro__box--left">
                        <img src="http://bombling.com/site/images/bombling-logo.png" class="intro__img" alt="team slogup"/>
                    </div>
                    <div class="intro__box intro__box--right">
                        <h2 class="">
                            <img src="" class="intro__img" alt="be the Success" />
                        </h2>
                        <h3>팀슬로그업에서 하세요!</h3>
                        <p class="">
                            봄블링을 만든 엄청난 회사입니다.<br />
                            마케팅도하고 개발도 합니다. <br />
                            언제든 연락주고 맡기세요!
                        </p>
                    </div>
                </section>
            </div>
        </div>

        <div id="tsg-why" class="tsg-main__why-container">
            <div class="wrapper">
                <section class="tsg-why">
                    <header class="why__header">
                        <h2 class="sr-only">이유</h2>
                        <h4>느낌아는 분만 문의주세요.</h4>
                        <h3>스타트업 서비스는 스타트업이 만들어야 합니다</h3>
                    </header>
                    <div class="why__contents">
                        <div class="why__cts">
                            <div>why?</div>
                            <p>
                                왜 팀슬로그업에서 해야하나요?
                                제품은 만들어본 놈이 압니다.
                                음식도 먹어본 놈이 알잖아요.
                                허접하게 만들면 처음엔 몰라요
                                서비스가 커지면서 그때
                                아 이게 껍데기만 좋은 거군.
                                알게된답니다.
                            </p>
                        </div>
                        <div class="why__cts">
                            <div>why?</div>
                            <p>
                                왜 팀슬로그업에서 해야하나요?
                                제품은 만들어본 놈이 압니다.
                                음식도 먹어본 놈이 알잖아요.
                                허접하게 만들면 처음엔 몰라요
                                서비스가 커지면서 그때
                                아 이게 껍데기만 좋은 거군.
                                알게된답니다.
                            </p>
                        </div>
                        <div class="why__cts">
                            <div>why?</div>
                            <p>
                                왜 팀슬로그업에서 해야하나요?
                                제품은 만들어본 놈이 압니다.
                                음식도 먹어본 놈이 알잖아요.
                                허접하게 만들면 처음엔 몰라요
                                서비스가 커지면서 그때
                                아 이게 껍데기만 좋은 거군.
                                알게된답니다.
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div id="tsg-examples" class="tsg-main__section-container">
            <div class="wrapper">
                <section class="tsg-section">
                    <header class="section__header">
                        <h2>주요 포트폴리오</h2>
                        <p>팀슬로그업은 최상의 제품을 위해 다양한 솔루션을 제공합니다. 개발, 기획, UX 테스팅 모든 것을 팀슬로그업에서 핵심가치를 제공합니다.</p>
                    </header>
                    <div class="section__content">
                        <ul class="ptfolios-container">
                            <li>
                                <article class="ptfolio">
                                    <img class="ptfolio__img" src="" alt="아파트형공장114 이미지"/>
                                    <div class="ptfolio__body">
                                        <h3>아파트형공장114제목</h3>
                                        <div>(주)아파트형공장114</div>
                                        <div>웹/모바일 부동산 리셀링 솔루션</div>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="ptfolio">
                                    <img class="ptfolio__img" src="" alt="아파트형공장114 이미지"/>
                                    <div class="ptfolio__body">
                                        <h3>아파트형공장114제목</h3>
                                        <div>(주)아파트형공장114</div>
                                        <div>웹/모바일 부동산 리셀링 솔루션</div>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="ptfolio">
                                    <img class="ptfolio__img" src="" alt="아파트형공장114 이미지"/>
                                    <div class="ptfolio__body">
                                        <h3>아파트형공장114제목</h3>
                                        <div>(주)아파트형공장114</div>
                                        <div>웹/모바일 부동산 리셀링 솔루션</div>
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </div>
                    <footer class="section__footer">
                        <div class="section__btn-group">
                            <a class="btn btn-default">포트폴리오 더보기</a>
                            <a class="btn btn-default">프로젝트 문의</a>
                        </div>
                    </footer>
                </section>
            </div>
        </div>

        <div id="tsg-blog" class="tsg-main__section-container bg-F3F1F7">
            <div class="wrapper">
                <section class="tsg-section">
                    <header class="section__header">
                        <h2>개발자 블로그</h2>
                        <p>팀슬로그업은 최상의 제품을 위해 다양한 솔루션을 제공합니다.<br /> 개발, 기획, UX 테스팅 모든 것을 팀슬로그업에서 핵심가치를 제공합니다.</p>
                    </header>
                    <div class="section__content">
                        <ul class="section__blog-list clearfix">
                            <li>
                                <div class="section__blog-item">
                                    <img class="pf-img" src="" alt="pf-img" />
                                    <div>
                                        <h3>슬로그업의 성공이야기</h3>
                                        <h4>[개발이야기]</h4>
                                        <p>슬로그업의 이야기이다. 바야흐로 100년전 그때였다. 그러자 그녀가 물었다. 너의 소원은 무엇인가? 하지만 나는 바로 대답을 할 수가 없었다. 온몸이 얼어버렸다. 과연...</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="section__blog-item">
                                    <img class="pf-img" src="" alt="pf-img" />
                                    <div>
                                        <h3>슬로그업의 성공이야기</h3>
                                        <h4>[개발이야기]</h4>
                                        <p>슬로그업의 이야기이다. 바야흐로 100년전 그때였다. 그러자 그녀가 물었다. 너의 소원은 무엇인가? 하지만 나는 바로 대답을 할 수가 없었다. 온몸이 얼어버렸다. 과연...</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="section__blog-item">
                                    <img class="pf-img" src="" alt="pf-img" />
                                    <div>
                                        <h3>슬로그업의 성공이야기</h3>
                                        <h4>[개발이야기]</h4>
                                        <p>슬로그업의 이야기이다. 바야흐로 100년전 그때였다. 그러자 그녀가 물었다. 너의 소원은 무엇인가? 하지만 나는 바로 대답을 할 수가 없었다. 온몸이 얼어버렸다. 과연...</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="section__blog-item">
                                    <img class="pf-img" src="" alt="pf-img" />
                                    <div>
                                        <h3>슬로그업의 성공이야기</h3>
                                        <h4>[개발이야기]</h4>
                                        <p>슬로그업의 이야기이다. 바야흐로 100년전 그때였다. 그러자 그녀가 물었다. 너의 소원은 무엇인가? 하지만 나는 바로 대답을 할 수가 없었다. 온몸이 얼어버렸다. 과연...</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="section_dev-stack">
                            <li>Nodejs</li>
                            <li>AWS</li>
                            <li>자바스크립트</li>
                            <li>Nodejs</li>
                            <li>AWS</li>
                            <li>자바스크립트</li>
                            <li>Nodejs</li>
                            <li>AWS</li>
                            <li>자바스크립트</li>
                            <li>Nodejs</li>
                            <li>AWS</li>
                            <li>자바스크립트</li>
                            <li>Nodejs</li>
                        </ul>
                    </div>
                    <footer class="section__footer">
                        <div class="section__btn-group">
                            <a class="btn btn-default">블로그 더보기</a>
                        </div>
                    </footer>
                </section>
            </div>
        </div>
    </div>
    <footer class="tsg-footer wrapper">

    </footer>
</div>

</body>
</html>
