<!doctype html>
<html class="no-js" lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Team slogup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="identifier-url" content="http://www.webestools.com/" />
    <meta name="title" content="Webestools" />
    <meta name="description" content="Tools for webmasters" />
    <meta name="abstract" content="Tools for webmasters" />
    <meta name="keywords" content="tools, webmasters, meta, generator" />
    <meta name="author" content="My Name" />
    <meta name="revisit-after" content="15" />
    <meta name="language" content="EN" />
    <meta name="copyright" content="© 2015 Webestools" />
    <meta name="robots" content="All" />

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../assets/stylesheets/core/bootstrap.css">
    <link rel="stylesheet" href="../assets/stylesheets/app/tsgup.css">
    <script src="../assets/javascripts/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<a href="#main-container" class="sr-only sr-inly-focusable">Skip to content</a>

<div class="tsg">
    <header class="tsg-header wrapper clearfix">
        <h1>
            <a href="/" class="site-logo">
                <img src="../assets/images/apple-touch-icon.png" alt="team slogup" />
            </a>
        </h1>
        <nav class="header__nav">
            <h2 class="sr-only">Main Navigation</h2>
            <ul>
                <li>
                    <a>AboutUs</a>
                </li>
                <li>
                    <a>포트폴리오</a>
                </li>
                <li>
                    <a>홈페이지개발</a>
                </li>
                <li>
                    <a>어플리케이션개발</a>
                </li>
                <li>
                    <a>제작의뢰</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="main-container" class="tsg-main" role="main" tabindex="-1">
        <div id="tsg-introduce" class="tsg-main__intro-container">
            <div class="wrapper">
                <section class="tsg-intro">
                    <div class="intro__box intro__box--left">
                        <img src="" class="intro__img" alt="team slogup"/>
                    </div>
                    <div class="intro__box intro__box--right">
                        <h2 class="">
                            <img src="" class="intro__img" alt="be the Success" />
                        </h2>
                        <h3>팀슬로그업에서 하세요!</h3>
                        <p class="">
                            봄블링을 만든 엄청난 회사입니다.
                            마케팅도하고 개발도 합니다.
                            언제든 연락주고 맡기세요!
                        </p>
                    </div>
                </section>
            </div>
        </div>

        <div id="tsg-why" class="tsg-main__why-container">
            <div class="wrapper">
                <section class="tsg-why">
                    <header class="why__header">
                        <h2 class="sr-only">이유</h2>
                        <h4>느낌아는 분만 문의주세요.</h4>
                        <h3>스타트업 서비스는 스타트업이 만들어야 합니다</h3>
                    </header>
                    <div class="why__contents">
                        <div class="why__cts">
                            <div>why</div>
                            <p>
                                왜 팀슬로그업에서 해야하나요?
                                제품은 만들어본 놈이 압니다.
                                음식도 먹어본 놈이 알잖아요.
                                허접하게 만들면 처음엔 몰라요
                                서비스가 커지면서 그때
                                아 이게 껍데기만 좋은 거군.
                                알게된답니다.
                            </p>
                        </div>
                        <div class="why__cts">
                            <div>why</div>
                            <p>

                            </p>
                        </div>
                        <div class="why__cts">
                            <div>why</div>
                            <p>

                            </p>
                        </div>
                    </div>
                    <footer class="section__footer">
                        <div class="section__btn-group">
                            <a class="btn btn-default"></a>
                            <a></a>
                        </div>
                    </footer>
                </section>
            </div>
        </div>

        <div id="tsg-examples" class="tsg-main__section-container">
            <section class="tsg-section">
                <header class="section__header">
                    <h2>주요 포트폴리오</h2>
                </header>
                <div class="section__content">
                    <div class="ptfolio-container">
                        <article class="ptfolio">
                            <div class="ptfolio__img">
                                <img />
                            </div>
                            <div class="ptfolio__body">
                                <h3></h3>
                                <p></p>
                            </div>
                        </article>
                        <article></article>
                        <article></article>
                    </div>
                </div>
                <footer class="section__footer">
                    <div class="section__btn-group">
                        <a class="btn btn-default"></a>
                        <a></a>
                    </div>
                </footer>
            </section>
        </div>

        <div id="tsg-blog" class="tsg-main__section-container">
            <section class="tsg-section">
                <header class="section__header">
                    <h2>개발자 블로그</h2>
                </header>
                <div class="section__content">

                </div>
                <footer class="section__footer">

                </footer>
            </section>
        </div>
    </div>
    <footer class="tsg-footer wrapper">

    </footer>
</div>

</body>
</html>
