<!doctype html>
<html class="no-js" lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Team slogup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="identifier-url" content="http://www.webestools.com/" />
    <meta name="title" content="Webestools" />
    <meta name="description" content="Tools for webmasters" />
    <meta name="abstract" content="Tools for webmasters" />
    <meta name="keywords" content="tools, webmasters, meta, generator" />
    <meta name="author" content="My Name" />
    <meta name="revisit-after" content="15" />
    <meta name="language" content="EN" />
    <meta name="copyright" content="© 2015 Webestools" />
    <meta name="robots" content="All" />

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../assets/stylesheets/core/bootstrap.css">
    <link rel="stylesheet" href="../assets/stylesheets/app/tsgup.css">
    <script src="../assets/javascripts/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<a href="#main-container" class="sr-only sr-inly-focusable">Skip to content</a>

<div class="tsg">
    <header class="tsg-header wrapper">
        <h1>
            <a href="/" class="site-logo">
                <img src="logo.png" alt="team slogup" />
            </a>
        </h1>
        <nav class="header__nav">
            <h2 class="sr-only">Main Navigation</h2>
            <ul>
                <li>
                    <a>AboutUs</a>
                </li>
                <li>
                    <a>포트폴리오</a>
                </li>
                <li>
                    <a>홈페이지개발</a>
                </li>
                <li>
                    <a>어플리케이션개발</a>
                </li>
                <li>
                    <a>제작의뢰</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="main-container" class="tsg-main wrapper" role="main" tabindex="-1">
        <div id="tsg-introduce" class="tsg-main__intro-container">
            <section class="tsg-intro">
                <header class="intro__header">
                    <img src="" class="intro__img intro__img--left" alt="team slogup"/>
                    <h2 class="">
                        <img src="" class="intro__img intro__img--right" alt="be the Success" />
                    </h2>
                    <p class="">

                    </p>
                </header>
                <div class="intro__why">
                    <div class="intro__why-cts">
                        <div>why</div>
                        <p>

                        </p>
                    </div>
                    <div class="intro__why-cts">
                        <div>why</div>
                        <p>

                        </p>
                    </div>
                    <div class="intro__why-cts">
                        <div>why</div>
                        <p>

                        </p>
                    </div>
                </div>
            </section>
        </div>

        <div id="tsg-examples" class="tsg-main__section-container">
            <section class="tsg-section">
                <header class="section__header">
                    <h2>주요 포트폴리오</h2>
                </header>
                <div class="section__content">
                    <div class="ptfolio-container">
                        <article class="ptfolio">
                            <div class="ptfolio__img">
                                <img />
                            </div>
                            <div class="ptfolio__body">
                                <h3></h3>
                                <p></p>
                            </div>
                        </article>
                        <article></article>
                        <article></article>
                    </div>
                </div>
                <footer class="section__footer">
                    <div class="section__btn-group">
                        <a class="btn btn-default"></a>
                        <a></a>
                    </div>
                </footer>
            </section>
        </div>

        <div id="tsg-blog" class="tsg-main__section-container">
            <section class="tsg-section">
                <header class="section__header">
                    <h2>개발자 블로그</h2>
                </header>
                <div class="section__content">

                </div>
                <footer class="section__footer">

                </footer>
            </section>
        </div>
    </div>
    <footer class="tsg-footer wrapper">

    </footer>
</div>

</body>
</html>
